@import '../sass/common.scss';
.homepage {
    //header
    .mui-bar {
        padding: 0;
        background: $baseColor;
        box-shadow: none;
        .mui-input-row {
            $icon-width: 50px;
            display: inline-block;
            width: calc(100% - #{ $icon-width*2});
            margin-left: $icon-width;
            top: 2px;
            input {
                background: #fff;
                font-size: 14px;
                border-radius: 3px;
            }
        }
        .mui-icon {
            margin-right: 0;
            color: #fff;
        }
    }
    .mui-content {
        padding-top: 84px;
        //二级切换标签
        .tagnav {
            $height: 40px;
            position: fixed;
            top: 44px;
            @include flex;
            width: 100%;
            height: $height;
            background: $basewhiteColor;
            color: $fontColor;
            z-index: 100;
            span {
                position: relative;
                @include flex-1;
                line-height: $height;
                text-align: center;
                &.on {
                    color: $baseColor;
                    &:after {
                        $indent: 20px;
                        position: absolute;
                        bottom: 0;
                        left: $indent/2;
                        content: '';
                        width: calc(100% - #{$indent});
                        height: 2px;
                        background: $baseColor;
                    }
                }
            }
        }
        /*首屏内容-个性推荐*/
        //tag-contanier
        [data-class='tab-container-1'] {
            //轮播图
            .mint-swipe {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            //icon 导航
            .iconNav {
                $icon-width: 50px;
                @include flex;
                width: 100%;
                height: 110px;
                background: $basewhiteColor;
                border-bottom: 1px solid rgba(0,0,0,.1);
                .icon-li {
                    $top: 15px;
                    position: relative;
                    @include flex-1;
                    i {
                        display: block;
                        width: $icon-width;
                        height: $icon-width;
                        color: $baseColor;
                        margin-top: $top;
                        &.redBorder {
                            border: 1px solid $baseColor;
                            border-radius: 50%;
                            text-align: center;
                            line-height: $icon-width;
                            font-size: 36px;
                            font-weight: 300;
                            margin-left: calc(50% - #{$icon-width / 2});
                        }
                        &.icon-fm {
                            position: relative;
                            margin-left: calc(50% - #{$icon-width / 2});
                            border: 1px solid $baseColor;
                            border-radius: 50%;
                            font-size: 56px;
                            &:before {
                                position: absolute;
                                top: 17px;
                                right: -4px;
                            }
                        }
                    }
                    p {
                        text-align: center;
                        font-size: 12px;
                        margin-top: 8px;
                    }
                }
            }

            //推荐歌单
            .recommendSonglist {
                background: $basewhiteColor;
                @at-root .title {
                    $title-height: 34px;
                    height: $title-height;
                    line-height: $title-height;
                    padding: 0 10px;
                    i {
                        color: $baseColor;
                        font-size: 22px;
                    }
                    span {
                        font-size: 16px;
                        margin-left: 5px;
                    }
                    em {
                        height: 30px;
                        float: right;
                        font-size: 12px;
                        color: #888;
                        &:after {
                            content: "\e583";
                            font-family: Muiicons;
                        }
                    }
                }
                .songlist {
                    @include flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .songbox {
                        position: relative;
                        width: 33%;
                        margin-bottom: 5px;
                        i {
                            position: absolute;
                            right: 0;
                            top: 0;
                            background: rgba(0,0,0,.1);
                            color: #fff;
                            padding: 0 3px;
                            height: 14px;
                            line-height: 14px;
                            font-size: 12px;
                            &:before {
                                content: '';
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                background: url("../assets/icon/erji-white.svg") no-repeat;
                            }
                        }
                        .imgbox {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        p {
                            font-size: 13px;
                            @include ellipses;
                            height: 42px;
                            padding: 0 5px;
                            span {
                                display: block;
                                color: #ccc;
                                font-size: 12px;
                            }
                        }

                    }
                }
            }

            //独家放送
            .exclusiveDelivery {
                background: $basewhiteColor;
                margin-bottom: 20px;
                .title {
                    @extend .title;
                }
                .firstfloor {
                    margin-bottom: 15px;
                    .firstfloorBox {
                        display: inline-block;
                        width: calc(50% - 1.5px);
                        &.right {
                            float: right;
                        }
                        img {
                            width: 100%;
                        }
                        p {
                            font-size: 12px;
                            padding: 0 5px;
                            line-height: 16px;
                        }
                    }
                }
                .secondfloor {
                    img {
                        width: 100%;
                    }
                    p {
                        font-size: 12px;
                        padding: 0 5px;
                        line-height: 16px;
                    }
                }
            }
        }

    }
}

/*第四屏内容-音乐排行榜 */
.ranking-itembox {
    width: 100%;
    margin-bottom: 40px;
    .itembox-title {
        $title-height:21px;
        width: 100%;
        height: $title-height   ;
        line-height: $title-height;
        font-size: 16px;
        border-left: 3px solid $baseColor;
        padding-left: 5px;
        margin: 10px 0;
    }
    .itembox-content{
        width: 100%;
        .ranking-list{
            $li-height:120px;
           li{
               margin-bottom: 5px;
               width: 100%;
               height: $li-height;
               border-bottom: 1px solid #ddd;
               .ranklogo{
                   position: relative;
                   float: left;
                   width: $li-height;
                   height: $li-height;
                   .msk{
                       position: absolute;
                       left: 0;
                       top: 0;
                       width: inherit;
                       height: inherit;
                       background: url(../assets/coverall.png) no-repeat;
                       background-position: -230px -380px;
                   }
                   img{
                       width: inherit;
                       height: inherit;
                   }
               }
               .rightlist{
                   float: right;
                   width: calc(100% - #{$li-height});
                   p{
                       font-size: 14px;
                       margin: 14px 0;
                       padding: 0 10px;
                       white-space:nowrap; 
                       @include ellipses;   
                   }
               }
           }
            
        }
    }
}
