@import '../sass/common.scss';
.homepage {
  //header
  .mint-header{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    z-index: 10;
  }
  .mui-contents {
    padding-top: 80px; //二级切换标签
    .tagnav {
      $height: 40px;
      position: fixed;
      top: 40px;
      @include flex;
      width: 100%;
      height: $height;
      background: $basewhiteColor;
      color: $fontColor;
      z-index: 100;
      span {
        position: relative;
        @include flex-1;
        line-height: $height;
        text-align: center;
        &.on {
          color: $baseColor;
          &:after {
            $indent: 20px;
            position: absolute;
            bottom: 0;
            left: $indent/2;
            content: '';
            width: calc(100% - #{$indent});
            height: 2px;
            background: $baseColor;
          }
        }
      }
    }
  }
}
