@import '../sass/common.scss';
.homepage {
  //header
  .mui-bar {
    padding: 0;
    background: $baseColor;
    box-shadow: none;
    .mui-input-row {
      $icon-width: 50px;
      display: inline-block;
      width: calc(100% - #{ $icon-width*2});
      margin-left: $icon-width;
      top: 2px;
      input {
        background: #fff;
        font-size: 14px;
        border-radius: 3px;
      }
    }
    .mui-icon {
      margin-right: 0;
      color: #fff;
    }
  }
  .mui-content {
    padding-top: 84px; //二级切换标签
    .tagnav {
      $height: 40px;
      position: fixed;
      top: 44px;
      @include flex;
      width: 100%;
      height: $height;
      background: $basewhiteColor;
      color: $fontColor;
      z-index: 100;
      span {
        position: relative;
        @include flex-1;
        line-height: $height;
        text-align: center;
        &.on {
          color: $baseColor;
          &:after {
            $indent: 20px;
            position: absolute;
            bottom: 0;
            left: $indent/2;
            content: '';
            width: calc(100% - #{$indent});
            height: 2px;
            background: $baseColor;
          }
        }
      }
    }
  }
}
