.coverbg {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  &.bg1 {
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
    background-blend-mode: soft-light, screen;
  }
  &.bg2 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
  }
  &.bg3 {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  }
  &.bg4 {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
  }
  &.bg5 {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  }
  .mint-header {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    max-width: 640px;
    width: 100%;
    right: 0;
    margin: 0 auto;
    .mint-header-button {
      .mint-button--default {
        .mintui-back {
          color: #fff !important;
        }
      }
    }
  }
  .songlistinfo {
    padding-top: 40px;
    .search {
      height: 30px;
      background: #a10;
    }
    .middleinfo {
      padding: 10px;
      $img-height: 144px;
      font-size: 0;
      .imgbox {
        display: inline-block;
        width: $img-height;
        height: $img-height;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .info {
        display: inline-block;
        height: $img-height;
        width: calc(100% - #{$img-height});
        font-size: 14px;
        vertical-align: top;
        padding: 10px;
        .listname {
          margin: 10px 0 20px 0;
          font-size: 15px;
          color: #fff;
          min-height: 20px;
        }
        .owner {
          font-size: 13px;
          color: #fff;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
      }
    }
    .buttonarea {
      $buttonarea-height: 40px;
      height: 50px;
      @include flex;
      a {
        @include flex-1;
        text-align: center;
        font-size: 12px;
        color: #fff;
        i {
          display: block;
          font-size: 22px;
          color: #fff;
          margin-bottom: 3px;
          margin-top: 2px;
        }
      }
    }
  } // 歌曲列表
  .slide-enter-active,
  .slide-leave-active {
    @include transition(opacity .5s);
  }
  .slide-enter,
  .slide-leave-active {
     opacity: 0;
  }
  .songlist {
    background: #fff;
    padding-bottom: 50px;
    &.stickUp {
      padding-top: 40px;
      .playAll {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 10;
      }
    }
    .playAll {
      $playall-height: 50px;
      height: $playall-height;
      line-height: $playall-height;
      padding: 0 10px;
      background: #fff;
      font-size: 17px;
      i {
        vertical-align: middle;
        color: #333;
      }
      em {
        font-size: 13px;
        color: #666;
      }
      .playIcon {
        font-size: 22px;
      }
      span {
        float: right;
        color: #666;
        font-size: 14px;
        i {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
    // 歌单列表第一项
    .mint-cell{
      overflow: visible;
    }
  }
  //底部弹出功能
  .songlistItemPopup{
    width: 100%;
    background: #fff;
  }
  //歌单详情中部弹出层
  .songlistInfoPopup{
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  }
}
